
@tailwind base;
@tailwind components;
@tailwind utilities;
header {
  display: flex;
  justify-content: space-between;
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h3 {
  margin: 10px 0;
}
